docs/**/* linguist-generated=true
*.html linguist-generated=true
*.css linguist-generated=true
packages/**/*/dist linguist-generated=true
*.esm.js linguist-generated=true
*.cjs.js linguist-generated=true
*.cjs linguist-generated=true
*.spec.js linguist-generated=true
*.js.map linguist-generated=true

/.yarn/releases/** binary
/.yarn/plugins/** binary
git-hash export-subst
*.sh text eol=lf
security.txt ident
LAST_COMMIT export-subst
date*.txt filter=dater
